$color-master: #e20067;
$color-sec: #056ec4;
$color-thir: #e5e5e5;
$color-four: #939393;
$color-five: #4d4d4d;
$color-six: #3f3f3f;
$color-sev: #11010a;

$fontsize-xxxl: 70px;
$fontsize-xxl: 60px;
$fontsize-xl: 40px;
$fontsize-l: 36px;
$fontsize-m: 30px;
$fontsize-s: 21px;
$fontsize-xs: 17px;
$fontsize-xxs: 12px;

$line-h-master:1.5;
$line-h-sec:1.4;
$line-h-thir:1.3;

$letter-spc-master: auto;
$letter-spc-l: 2px;
$letter-spc-m: 1.5px;
$letter-spc-s: 1px;


@mixin hide-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; 
}

@mixin norepeat {
    background-repeat: no-repeat;
}

@mixin pointer {
    cursor: pointer;
}

@mixin over-hidden {
    overflow: hidden;
}

@mixin noshow {
    display: none;    
}

@mixin clearfloat {
    clear: both;
}
